.magazine-section{
    padding-bottom: 130px;
}
.magazine {
    display: flex;
}
.magazine-section-title {
    margin-top: 150px;
    margin-bottom: 100px;
    color: rgb(29, 31, 46);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.magazine__images-wrapper {
    gap: 20px;
}
.magazine-img1{
    margin-bottom: 20px;
    margin-left: 20px;
}
.magazine-img2{
    margin-left: 20px;
}
.magazine__texts {
}
.magazine_strong {
    margin-bottom: 14px;
    color: rgb(29, 31, 46);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
}
.magazine__title {
    width: 237px;
    margin-top: 14px;
    margin-bottom: 15px;
    color: rgb(29, 31, 46);
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
}
.magazine__text {
    margin-bottom: 25px;
    color: rgba(29, 31, 46, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.magazine__btn {
    width: 173px;
    height: 36px;
    background: rgb(29, 31, 46);
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.5s all;

}
.magazine__btn:hover{
    background-color: rgb(255, 255, 255);
    background:rgb(255, 255, 255);
    color: rgb(29, 31, 46);
    border: 2px solid ;
    cursor: pointer;
}